<header class="header">
    <a href="/" class="header__logo">Admin Pannel</a>

    <nav class="header_nav">
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Home">About</a></li>
            <li><a href="/Home">Contact</a></li>
        </ul>
    </nav>

    <div class="header_btn">
        <a href="/admin/logout">Logout</a>
    </div>
</header>